
body {background-color: #d6e0f5;
    font-family: "Verdana", serif;}

#shell {width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    outline: #99b3e6 5px solid;
    background-color: #c2d1f0;}

h1 {background-color: #c2d1f0;
    border-bottom: #3366cc 2px solid;
    outline: #99b3e6 5px solid;
    color: #142952;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    
h2 {color: #142952;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;}
h2 a:link {width: auto;
    color: #142952;
    text-decoration: none;
    border-top: 5px;
    border-bottom: 2px solid #99b3e6;
    border-right: 2px solid #99b3e6;
    display: inline-block;
    background: linear-gradient(#c2d1f0, #99b3e6, #c2d1f0);
    padding: 3px;
    border-radius: 25%;}
h2 a:visited {width: auto;
    color: #142952;
    text-decoration: none;
    border-top: 5px;
    border-bottom: 2px solid #99b3e6;
    border-right: 2px solid #99b3e6;
    display: inline-block;
    background: linear-gradient(#c2d1f0, #99b3e6, #c2d1f0);
    padding: 3px;
    border-radius: 25%;}
h2 a:hover {width: auto;
    color: #142952;
    text-decoration: none;
    border-top: 7px;
    border-left: 2px solid #d6e0f5;
    border-bottom: 0px;
    border-right: 0px;
    display: inline-block;
    background: linear-gradient(#c2d1f0, #ebf0fa, #c2d1f0);
    padding: 3px;
    border-radius: 25%;}
h2 a:active {width: auto;
    color: #142952;
    text-decoration: none;
    border-top: 7px;
    border-left: 2px solid #d6e0f5;
    border-bottom: 0px;
    border-right: 0px;
    display: inline-block;
    background: #ebf0fa;
    padding: 3px;
    border-radius: 25%;}
